About_Crypto.txt
Dim_Categories.csv
Fact_Coin_Categories.csv
Fact_Coin_Categories2.csv
Fact_Coin_Categories3.csv
Fact_Coin_mkt_Cap.csv
Fact_Coin_mkt_Cap2.csv
Fact_Coin_mkt_Cap3.csv
Fact_Coin_mkt_Cap.xlsx
data (1).ipynb
Dashboard_Criptocurrency.jpeg